<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>we2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AllContactServlet</servlet-name>
    <servlet-class>com.hanfeng.Servlet.AllContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllContactServlet</servlet-name>
    <url-pattern>/AllContactServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.hanfeng.Servlet.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactFormServlet</servlet-name>
    <servlet-class>com.hanfeng.Servlet.contactFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactFormServlet</servlet-name>
    <url-pattern>/contactFormServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.hanfeng.Servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ModifyContactServlet</servlet-name>
    <servlet-class>com.hanfeng.Servlet.ModifyContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyContactServlet</servlet-name>
    <url-pattern>/ModifyContactServlet.do</url-pattern>
  </servlet-mapping>
</web-app>